// colors

$color-green: #4d96a9;
$color-grey: #87879d;
$color-black: #28283d;
$color-blue: #8fe3f9;
$color-white: #fafafa;

$color-purple-dark: #855fb1;
$color-purple-light: #d9b8ff;

// grid gap

$horizontal-gap-large: 2rem;
