.grid-col-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.col-3-of-12 {
  grid-column: auto / span 4;
}

.col-4-of-12 {
  grid-column: auto / span 3;
}

.col-5-of-12 {
  grid-column: auto / span 5;
}

.col-2-of-12 {
  grid-column: auto / span 2;
}
