*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-port) {
    font-size: 56.25%;
  }

  @include respond(phone) {
    font-size: 43.75%;
  }
}

body {
  width: 100vw;
  box-sizing: border-box;
}
